.portfolio{
    .heading-box{
        height: 15vh;
        width: 100%;
        margin-top: 17vh;
        border: solid 1px black;
        h3{
            text-align: center;
            margin: 1vh auto;
            color: #c44953;

        }
        h1{
            font-size: 3rem;
            color: white;
            text-align: center;
        }
        
    }
    .category-box{
        height: 6vh;
        width: 100%;
        border: solid 1px transparent;
        margin: 2vh auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
        position: sticky;
        top: 10vh;
        z-index: 2;
        button{
            color: white;
            height: 4vh;
            border: none;
            background: transparent;
            font-size: 18px;
            font-weight: 500;
            border-radius: 15px;
            cursor: pointer;
        }
        button:hover{
            color: #c44953;
        }
    }
    .display-images{
        width: 90%;
        margin: auto;
        .image{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            row-gap: 20px;
            img{
                height: 340px;
                width: 280px;
                border-radius: 15px;
                cursor: pointer;
            }

        }
    }
}