.navbar{
    height: 10vh;
    width: 100%;
    background: black;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 2;
    .logo{
        height: 100%;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        h1{
            color: white;
        }
    }
    .options{
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .contact-btn{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
            height: 7vh;
            width: 120px;
            font-size: larger;
            border: none;
            border-radius: 10px;
            color: white;
            background: transparent;
           cursor: pointer;
           box-shadow: 1px 1px 5px white,
           inset 1px 1px 5px white;

        }

    }
}