.footer{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    .footer-box{
        height: 70%;
        width:25%;
        h3,p{
            color: white;
            margin: 1vh 1vw;
        }
        
        button{
            height: 5vh;
            width: 120px;
            border: solid 2px white;
            border-radius: 10px;
            background: transparent;
            color: white;
            margin: 1vh 1vw;
        }
        .logo{
            width: 90%;
            margin: 2vh auto;
            
           
        }
    }
}