.contact {
  background: white;
  .banner {
    height: 60vh;
    width: 100%;
    background: url("../../assets//image/banner.jpg") no-repeat center;
    background-size: cover;
    margin-top: 10vh;
    position: relative;
    border: solid 1px black;
    .info {
     margin-top: 9rem;
      h3 {
        color: #dd6e8b;
        text-transform: uppercase;
        margin: 1vh 7vw;
      }
      h1 {
        text-transform: uppercase;
        color: white;
        margin: 1vh 7vw;
      }
    }
  }
  .contact-box {
    height: 70vh;
    width: 100%;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   .ani{
    width: 40%;
     .content {
      height: 65%;
      width: 100%;
      p {
        margin: 3vh 1vw;
        font-size: large;
      }
      ul {
        list-style: none;
        margin: 5vh 1vw;
        li {
          margin: 1vh auto;
          display: flex;
          justify-content: start;
          align-items: center;
          font-size: large;

          span {
            margin: 0px 10px;
            font-size: larger;
          }
        }
      }
      h4 {
        color: #dd6e8b;
        margin: 1vh 1vw;
      }
      .form-box {

        form {
          
          input {
            display: block;
            margin: 2vh 1vw;
            height: 6vh;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            width: 80%;
            font-size: 15px;
          }
          input:focus {
            border-color: #dd6e8b;
          }

          textarea {
            margin: 0vh 1vw;
            border-top: none;
            border-left: none;
            border-right: none;
            outline: none;
            font-size: 15px;
            display: block;
          }
          textarea:hover {
            border-color: #dd6e8b;
          }
          button {
            height: 7vh;
            width: 150px;
            margin: 2vh 1vw;
            background: #dd6e8b;
            border-radius: 14px;
            color: white;
            border: none;
          }
         
        }
      }
    }
   }
  }
  .map{
    background: white;
    margin: 3vh auto;
    iframe{
        margin: auto;
        display: block;
    }
  }
}

